{% extends "navbar.html" %}

{% block title %}Main{% endblock %}

{% block font %}'Dongle', sans-serif{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div align="center" style="margin: 200px;"</div>
  <ul>
    <li><a href="http://127.0.0.1:8000/rolling_paper/" style="font-size: 30px;">Rolling_paper</a></li><br>
    <li><a href="http://127.0.0.1:8000/profile/" style="font-size: 30px;">profile</a></li><br>
    <li><a href="http://127.0.0.1:8000/quotes/" style="font-size: 30px;">quotes</a></li><br>
  </ul>
{% endblock %}




