{% extends "navbar.html" %}
{% block font %}'Dongle', sans-serif{% endblock %}
{% block content %}


<div align="center">
    <img src="/static/img/강사님.jpg" alt="My img" height="500" style="margin-top: 150px">
    <h2>🩷우리 강사님을 소개합니다.🩷</h2><br>
    <h2 style="background-color: #eae3c4">프로필</h2>
        <h1 style="text-align:left; font-size: 25px">
            <li class="1" style="margin:auto; font-size:30px;">- Palydata DataEnginnering 22기 담임선생님</li><br>
            <li class="2" style="margin:auto; font-size:30px;">- 연세대학교 정보대학원 빅데이터전공 석사 </li><br>
            <li class="3" style="margin:auto; font-size:30px;">- 웹 풀스텍, 데이터 엔지니어링,에널리시스, 데이터 사이언스 및 모델링 등</li><br>
            <li class="3" style="margin:0px 0px 0px 30px; font-size:30px;"> 데이터의 모든걸 섭렵해버린 데이터 마초남 데★마★초 서찬웅 강사님</li><br>
            <li class="4" style="margin:auto; font-size:30px;">- 목표 체중 감량 20kg..<br></li><br>
            <li class="4" style="margin:0px 0px 0px 30px; font-size:30px;"> 현재 감량 체중 18kg..<br>포기를 모르는 불굴의사나이 </li><br>
            <li class="5" style="margin:auto; font-size:30px;">- 강사님의 1주일은 월수목금토일로 이루어져있다...</li><br>
            <li class="5" style="margin:0px 0px 0px 30px; font-size:30px;"> 강사님은 화를 내실 줄 모르기 때문</li><br>
            <li class="6" style="margin:auto; font-size:30px;">- DataEnginnering 22기 수강생들 모두 강사님께 벽을 느껴</li><br>
            <li class="6" style="margin:0px 0px 0px 620px; font-size:30px;"> ....."완벽★"</li><br>
            <li class="7" style="margin:auto; font-size:30px;">- 보유차량: *벤츠 E클래스</li><br>
            <li class="7" style="margin:0px 0px 0px 30px; font-size:30px;"> (*현재는 장관님께서 요긴하게 사용중..)</li><br>
            <li class="8" style="margin:auto; font-size:30px;">- Dream Car: 람보르기니 우르스(녹색)</li><br>
            <img src="/static/img/우르스.jpg" alt="My img" height=150px; style="margin-top: 30px; margin-bottom: 30px"><br>
            <li class="9" style="margin:auto; font-size:30px;">- 빼이보릿 푸드: 순대국</li><br>
        </h1>
    </h2><br>
</div>
{% endblock %}